@import url("../dist/style.css");

$large-screen-padding: 1.5rem 5rem;
$desktop-padding: 1.5rem 3rem;
$smaller-desktop-padding: 1.5rem 1.5rem;
$mobile-padding: 1.5rem 1rem;

$light-green: #1B8036;
$dark-green: #137212;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    // border: 1px solid red;
}

.light-green-text {
    color: $light-green;
}
.light-green {
    background-color: $light-green;
}
.dark-green-text {
    color: $dark-green;
}
.dark-green {
    background-color: $dark-green;
}

html:not([data-scroll='0']) {
    nav {
        filter: drop-shadow(0px 9px 18px rgba(0,0,0,0.15));
    }
}
.logo {
    position: relative;
    left: -1%;
}
.links a:hover {
    color: $light-green;
}
button {
    background-color: $light-green;
    padding: 0.5rem 1rem;
    color: #fff;
}
.who-we-are {
    min-width: 60%;
    max-width: 75%;
}
.titles {
    font-size: 1.4rem;
    line-height: 1.3;
}

.mac {
    left: -10%;

    &::after{
        content: 'Hello World';
        color: black;
        display: block;
        position: absolute;
        top: 1rem;
        font-size: 2rem;
        width: 10rem;
        height: 30rem;
        background: radial-gradient(50% 50% at 50% 50%, #A6A2CF 0%, rgba(217, 217, 217, 0) 100%);
        // filter: blur(49.7435px);
    }

    // .ellipse{    
    //     position: absolute;
    //     width: 850.61px;
    //     height: 850.61px;
    //     left: 0px;
    //     top: 2592.45px;
    //     background: radial-gradient(50% 50% at 50% 50%, #A6A2CF 0%, rgba(217, 217, 217, 0) 100%);
    //     filter: blur(49.7435px);
    // }    
}
.faq > div {
    background: linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 82.12%, rgba(8, 63, 26, 0.86) 97.79%);
}
.b-radius {
    border-radius: 35px;
}
.last {
    margin-right: 0.4rem;
    padding-right: 0.4rem;
    transform: translateY(-0.5px);

    span {
        border-radius: 50%;
    }
    .arrow {
        color: #137212;
    }
}
.company {
    flex: 1.5;
}
.logo-white {
    position: relative;
    left: -8%;
    margin: 1rem 0;
}
article {
    box-shadow: 0px 9px 18px rgba(0,0,0,0.15);
}

input[type='text'] {
    border: #696969 solid 0.4px;
    border-radius: 2rem;
}
// .articles {
//     flex-basis: 3.5;
// }
aside {
    img {
        margin-top: 5px;
    }
    
    li::marker {
        color: $light-green;
    }

    .unshrink {
        flex-shrink: 0;
    }
    
}
footer {
    background:linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 82.12%, rgba(8, 63, 26, 0.86) 97.79%);
    
    .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
}
.footerr {

    div {
        flex: 1;

        p:first-of-type, li{
            cursor: pointer;
        }
    }


    & > div {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 10rem;
        margin-top: 1rem;
        
        li {
            margin: 1rem 0;
            max-width: 75%;
        }
    }
}